/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 10rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradient {
  border: none;
  border-radius: 9999px;
  color: white;
  background: rgb(131, 58, 180);
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 82%, rgba(252, 176, 69, 1) 100%);
}

.best {
  color: var(--ifm-color-primary);
  font-weight: 600;
  font-size: 2em;
}
