/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #b7063b;
  --ifm-color-primary-dark: #a50535;
  --ifm-color-primary-darker: #9c0532;
  --ifm-color-primary-darkest: #800429;
  --ifm-color-primary-light: #c90741;
  --ifm-color-primary-lighter: #d20744;
  --ifm-color-primary-lightest: #ee084d;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #e56c90;
  --ifm-color-primary-dark: #e04f7a;
  --ifm-color-primary-darker: #dd4170;
  --ifm-color-primary-darkest: #c82355;
  --ifm-color-primary-light: #ea89a6;
  --ifm-color-primary-lighter: #ed97b0;
  --ifm-color-primary-lightest: #f4c2d1;
}

.skewY {
  transform: skewY(2deg);
}
